<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Ropar Ludhiana Transport Company</title>

  <link rel = "icon" href = "image/R_logo.png" type = "image/x-icon">

  <!-- Icons -->
  <script src="https://kit.fontawesome.com/2bc9844162.js" crossorigin="anonymous"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
  rel="stylesheet">
  <!-- Adding Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- JS Files Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    
  <nav class="nav navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="navbar-container container">
      <a class="navbar-brand d-flex w-60 mr-auto" href="/"><img src="image/joined.png" style="height: max(50px,5vw)"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">Branch & Franchises</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
     
  <div class="truck_container" style="background-image: url('image/try.jpg');">
        <!-- <img src="image/try.jpg" id="truck_image" class="img-fluid"> -->
  </div>
      
  <section id="about_us">
  
    <div  class="about_div">
    <div class="container">
      <h1>About Us</h1>
    
      <p>Founded in 1976, VRL is public listed company on NSE & BSE Exchange with a Market capitalization of 
        INR 43.67 billion (as on 31th March, 2022), we grown into a nationally renowned logistics and transport 
        company which is also currently the largest fleet owner of commercial vehicles in India.</p>
      
      <p class="more_button">
      <a class="btn btn-primary btn-lg re_button btn-outline-dark" href="/about" role="button">More</a>
      </p>
    </div>
  </div>
  <div class = "our_strengths">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="image/strengths.png" alt="" class="img_tr">
          </div>
          
          <div class="col-lg-6">
            <h2>Our Strengths</h2>
      
            <ul>
              <li>We have rich experience in Logistics services.</li>
              <li>We hold expertise in offering Third Party Logistics 
                Services to our valued customers so that the principal 
                can focus on core competencies and better manage and 
                utilize company assets, resources and optimize inventory 
                and personnel.</li>
              <li>Our skilled professionals interact with our clients to 
                know their needs & requirement & execute these services accordingly.</li>
              <li>Our services are highly reliable and efficient and are 
                carried out in compliance with the international standards.</li>
              <li>Clients can avail this service at affordable prices.</li>
            </ul>
          </div>
        </div>    
      </div>
  </div>

  <div class="mission_vision">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Vision</h2>
          <p>To be a preferred & leading logistics service provider by providing an excellent 
          & uninterrupted services by a loyal & high skilled team of professionals who work 
          tirelessly to achieve customer delight, enabling to retain existing customers 
          forever & attract the new customers.</p>

          <h2>Mission</h2>
          <p>A company with speed and reliability, uniquely positioned to take care of all 
          functions of our clients’ logistics business as one highly motivated team.</p>
        </div>

        <div class="col-lg-6">
          <img src="image/missionvision.png" alt="" class="img_mission">
        </div>
      
      </div> 
    </div>
  </div>  
  
  </section>

  
  
  
  <div>

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
              class="justify-content-between p-4"
              style="background-color: grey"
              >
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h4 class="text-uppercase fw-bold">LOCATE US</h4>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
                  <div class="map mb-4 mb-lg-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13694.439947291186!2d75.8699292298764!3d30.89756970527799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a8321bb6e6f63%3A0xb1c2cee603a23f3d!2sRopar%20Ludhiana%20Transport%20Co!5e0!3m2!1sen!2sin!4v1680603264464!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
          
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              
              <h4 class="text-uppercase fw-bold">Connect</h4>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p class="social_icons">
                <a href="/" class="text-white"><img style="height: 50px;" src="image/facebook.svg"></a>
                <a href="/" class="text-white"><img style="height: 50px;" src="image/instagram.svg"></a>
                <a href="/" class="text-white"><img style="height: 50px;" src="image/whatsapp.svg"></a>               
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h4 class="text-uppercase fw-bold">HEAD OFFICE</h4>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p class="footer_para"></i> Ropar Ludhiana Transport Company, Plot No. 181, Transport Nagar, Ludhiana, 141003</p>
              <p><i class="fas fa-envelope mr-3"></i> <a href="mailto:rltc56@gmail.com">RLTC56@gmail.com</a></p>
              <p><i class="fas fa-print mr-3"></i><a href="tel:0161-5051656">0161-2609042, 5051656</a></p>
              <p><i class="fas fa-phone mr-3"></i><a href="tel:+919888656000">+91-9888656000</a></p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
          >
        © <strong>Ropar Ludhiana Transport Co.</strong> All Rights Reserved
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

  </div>
<!-- End of .container -->
    

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

</html>